ENV=OS
BETTER_AUTH_SECRET=LcxHVZhLegggYscFzGrQbHuzUujRX6CS
BETTER_AUTH_URL=http://localhost:8080
DRIZZLE_DATABASE_URL=postgres://postgres:root@postgres:5432/openfeed

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

RESEND_API_KEY=
RESEND_EMAIL=onboarding@resend.dev

OPENAI_KEY=
OPENAI_ENDPOINT=
OPENAI_AGENT_MODEL=gpt-4o-mini

# REDIS
REDIS_URL=redis://localhost:6379

# payment
NEXT_PUBLIC_PADDLE_ENV=sandbox
NEXT_PUBLIC_PADDLE_SUCCESSURL=http://localhost:3000/
PADDLE_API_KEY=
NEXT_PUBLIC_PADDLE_CLIENT_TOKEN=
NEXT_PUBLIC_PADDLE_SCALE_PRICE_ID=
NEXT_PUBLIC_PADDLE_GROWTH_PRICE_ID=
NEXT_PUBLIC_PADDLE_STARTER_PRICE_ID=

PADDLE_NOTIFICATION_WEBHOOK_SECRET=

NEXT_PUBLIC_PADDLE_CUSTOMER_PORTAL_URL=
