ENV=OS
BETTER_AUTH_SECRET=LcxHVZhLegggYscFzGrQbHuzUujRX6CS
BETTER_AUTH_URL=http://localhost:8080
DRIZZLE_DATABASE_URL=postgres://postgres:root@127.0.0.1:5432/openfeed

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

RESEND_API_KEY=
RESEND_EMAIL=onboarding@resend.dev

OPENAI_KEY=
OPENAI_ENDPOINT=
OPENAI_AGENT_MODEL=gpt-4o-mini

# REDIS
REDIS_DB_ADDRESS=localhost
REDIS_DB_PORT=6379
REDIS_DB_PASSWORD=
REDIS_DB_DATABASE=0
